<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SignLogMapper">
    
    <resultMap type="SignLog" id="SignLogResult">
        <result property="logId"    column="log_id"    />
        <result property="stuNumber"    column="stu_number"    />
        <result property="systemId"    column="system_id"    />
        <result property="temperature"    column="temperature"    />
        <result property="address"    column="address"    />
        <result property="lat"    column="lat"    />
        <result property="lng"    column="lng"    />
        <result property="status"    column="status"    />
        <result property="response"    column="response"    />
        <result property="encryptKey"    column="encrypt_key"    />
        <result property="logDate"    column="logDate"    />
    </resultMap>

    <sql id="selectSignLogVo">
        select log_id, stu_number, system_id, temperature, address, lat, lng, status, response, encrypt_key, logDate from sign_log
    </sql>

    <select id="selectSignLogList" parameterType="SignLog" resultMap="SignLogResult">
        <include refid="selectSignLogVo"/>
        <where>  
            <if test="stuNumber != null  and stuNumber != ''"> and stu_number = #{stuNumber}</if>
            <if test="systemId != null  and systemId != ''"> and system_id = #{systemId}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="lng != null  and lng != ''"> and lng = #{lng}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="response != null  and response != ''"> and response = #{response}</if>
            <if test="encryptKey != null  and encryptKey != ''"> and encrypt_key = #{encryptKey}</if>
            <if test="logDate != null "> and logDate = #{logDate}</if>
        </where>
    </select>
    
    <select id="selectSignLogById" parameterType="Long" resultMap="SignLogResult">
        <include refid="selectSignLogVo"/>
        where log_id = #{logId}
    </select>
        
    <insert id="insertSignLog" parameterType="SignLog" useGeneratedKeys="true" keyProperty="logId">
        insert into sign_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuNumber != null and stuNumber != ''">stu_number,</if>
            <if test="systemId != null and systemId != ''">system_id,</if>
            <if test="temperature != null and temperature != ''">temperature,</if>
            <if test="address != null">address,</if>
            <if test="lat != null and lat != ''">lat,</if>
            <if test="lng != null and lng != ''">lng,</if>
            <if test="status != null">status,</if>
            <if test="response != null and response != ''">response,</if>
            <if test="encryptKey != null and encryptKey != ''">encrypt_key,</if>
            <if test="logDate != null">logDate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuNumber != null and stuNumber != ''">#{stuNumber},</if>
            <if test="systemId != null and systemId != ''">#{systemId},</if>
            <if test="temperature != null and temperature != ''">#{temperature},</if>
            <if test="address != null">#{address},</if>
            <if test="lat != null and lat != ''">#{lat},</if>
            <if test="lng != null and lng != ''">#{lng},</if>
            <if test="status != null">#{status},</if>
            <if test="response != null and response != ''">#{response},</if>
            <if test="encryptKey != null and encryptKey != ''">#{encryptKey},</if>
            <if test="logDate != null">#{logDate},</if>
         </trim>
    </insert>

    <update id="updateSignLog" parameterType="SignLog">
        update sign_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="stuNumber != null and stuNumber != ''">stu_number = #{stuNumber},</if>
            <if test="systemId != null and systemId != ''">system_id = #{systemId},</if>
            <if test="temperature != null and temperature != ''">temperature = #{temperature},</if>
            <if test="address != null">address = #{address},</if>
            <if test="lat != null and lat != ''">lat = #{lat},</if>
            <if test="lng != null and lng != ''">lng = #{lng},</if>
            <if test="status != null">status = #{status},</if>
            <if test="response != null and response != ''">response = #{response},</if>
            <if test="encryptKey != null and encryptKey != ''">encrypt_key = #{encryptKey},</if>
            <if test="logDate != null">logDate = #{logDate},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteSignLogById" parameterType="Long">
        delete from sign_log where log_id = #{logId}
    </delete>

    <delete id="deleteSignLogByIds" parameterType="String">
        delete from sign_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>

</mapper>