<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>胖哈勃实验室 - fuckTryee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .round_icon{
            width: 154px;
            height: 154px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/home">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add">开始使用</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signlog">查询记录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">启用账户</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">停用账户</a>
        </li>
    </ul>
</nav>
<div class="jumbotron text-center">
    <img class="img-responsive center-block round_icon" src="http://cdn.pwnhub.net/images/pwnhub.jpg">
    <h1>胖哈勃实验室</h1>
    <p>体温自动签到自助系统4.1(多线程、重签、高德定位测试版)</p>
    <div class="badge badge-primary" th:text="'本站已经累计签到' + ${signCount} + '次（包含重试次数）'"></div>
    <br>
    <div class="badge badge-success" th:text="'站点状态：正常运行，注册开启状态：' + ${allowRegister}"></div>
    <br>
    <div class="badge badge-warning" th:text="'最后签到完成时间：' + ${lastSignDate}"></div>
</div>
<div class="col-md-8 offset-md-2">
    <h5 class="text-center">您可以点击上方的【开始使用】按钮登记一些必要信息即可完成注册</h5>
    <h5 class="text-center">另外这个项目如无特殊情况，这个版本可能是final版本。对这个项目或现代密码学有兴趣的，可以联系我的邮箱i@pwnhub.net。</h5>
<div class="container text-center">
    <div class="card">
        <div class="card-body">
            <p class="font-weight-bold">想要证明自己的实力，是否真的要去黑掉一个网站？答案是NO！</p>
            <p class="font-weight-bold">1990年，哈勃望远镜（Hubble Space Telescope）发射升空，开启了人类对宇宙空间的崭新探索。</p>
            <p class="font-weight-bold"> 现在，Pwnhub的出现，将引领那些对网络安全感兴趣的人们探索“0 1”世界中的无限奥秘。</p>
        </div>
    </div>
    <a href="#" class="text-secondary">
        <small class="text-muted">Powered by 胖哈勃实验室 - 某不知名的CTF选手</small>
    </a>
</div>
</div>
</body>
</html>